.footerSection {
    padding: 5% 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#000;
    color:#fff;
    float:left;
    width:100%;
    margin:10px 0;
    list-style:none;
    padding-bottom:5%;
}
.footerSection ul li{
    list-style:none;
}

